<div class="row col-12" id="todos">

    <!-- create todo form -->
    <form (ngSubmit)="createTodo(); todoCreateForm.reset();" #todoCreateForm="ngForm" class="form todo-create-form">

        <!-- title -->
        <div class="form-group">
            <label for="todoTitle"></label>
            <input type="text" name="todoTitle" [(ngModel)]="newTodo.title" placeholder="title" id="title" required>
        </div>

        <!-- details -->
        <div class="form-group">
            <label for="details"></label>
            <input type="text" name="details" [(ngModel)]="newTodo.details" placeholder="details" id="details">
        </div>

        <!-- submit -->
        <button type="submit" [disabled]="!todoCreateForm.form.valid" class="btn btn-success">Create</button>

    </form>

    <!-- undo button -->
    <div *ngIf="deletedTodos.length === 0; else showUndoDelete"></div>
    <ng-template #showUndoDelete>
        <button type="button" (click)="undoDeleteTodo()" class="btn btn-info  mt-3 btn-sm btn-undo">Undo Delete</button>
    </ng-template>

    <!-- todos -->
    <div *ngIf="todos === undefined; else showTodos"></div>
    <ng-template #showTodos>

        <div class="card card-outline-primary mt-3" *ngFor="let todo of todos">

            <div *ngIf="selectedTodo === undefined || selectedTodo._id !== todo._id; else showTodoUpdateForm">

                <!-- title -->
                <div class="card-title">

                    <span (click)="selectTodo(todo)" for="todoTitle">Title: {{ todo.title }}</span>
                    <br>
                    <span>Details: {{ todo.details }}</span>

                    <i class="fa fa-trash text-danger" aria-hidden="true" (click)="deleteTodo(todo)"></i>

                </div>
            </div>

            <!-- update form -->
            <ng-template #showTodoUpdateForm>

                <!-- form -->
                <form (ngSubmit)="updateTodo()" #todoUpdateForm="ngForm" class="form todo-update-form">

                    <!-- title -->
                    <div class="form-group">
                        <label for="todoTitle"></label>
                        <input type="text" name="title" [(ngModel)]="selectedTodo.title" placeholder="title" id="todoTitle" required>
                    </div>

                    <!-- details -->
                    <div class="form-group">
                        <label for="todoTitle"></label>
                        <input type="text" name="details" [(ngModel)]="selectedTodo.details" placeholder="details" id="details">
                    </div>

                    <!-- submit -->
                    <button type="submit" [disabled]="!todoUpdateForm.form.valid" class="btn btn-success">Update</button>

                </form>
            </ng-template>

        </div>
    </ng-template>

</div>