<div class="row col-12" id="todos">

    <div class="row col-12">


        <div *ngIf="showCreateForm === true; else showCreateFormButton">
            <!-- create todo form -->
            <form (ngSubmit)="createTodo(); todoCreateForm.reset();" #todoCreateForm="ngForm" class="form todo-create-form justify-content-center">

                <!-- title -->
                <div class="form-group">
                    <label for="todoTitle"></label>
                    <input type="text" name="todoTitle" [(ngModel)]="newTodo.title" placeholder="Todo title" id="title" required>
                </div>

                <!-- details -->
                <div class="form-group">
                    <label for="details"></label>
                    <textarea rows="5" cols="20" name="details" [(ngModel)]="newTodo.details" placeholder="Details" id="details"></textarea>
                </div>

                <!-- cancel -->
                <button type="submit" class="btn btn-info" (click)="setShowCreateForm(false);">Cancel</button>

                <!-- submit -->
                <button type="submit" [disabled]="!todoCreateForm.form.valid" class="btn btn-success">Create</button>

            </form>
        </div>

        <ng-template #showCreateFormButton>

            <!-- show create form button -->
            <button type="button" class="btn btn-large btn-outline-success show-create-btn" (click)="setShowCreateForm(true);">Create new todo <i class="fa fa-plus text-success ml-2" aria-hidden="true"></i></button>

        </ng-template>

        <!-- undo button -->
        <div *ngIf="deletedTodos.length === 0; else showUndoDelete"></div>
        <ng-template #showUndoDelete>
            <button type="button" (click)="undoDeleteTodo()" class="btn btn-info mt-3 btn-sm btn-undo">Undo Delete</button>
        </ng-template>
    </div>

    <!-- todos -->
    <div *ngIf="todos === undefined; else showTodos"></div>
    <ng-template #showTodos>

        <!-- todo dragular bag -->
        <div [dragula]='"todo-bag"' [dragulaModel]='todos' class="todo-bag" [attr.data-columnid]=column._id>

            <div class="card card-outline-primary mt-3 todo-card-part" *ngFor="let todo of todos" [attr.data-todoid]=todo._id>

                <div *ngIf="selectedTodo === undefined || selectedTodo._id !== todo._id; else showTodoUpdateForm">

                    <div class="card-title todo-card-part">

                        <!-- title -->
                        <h4 class="ml-2 mt-2 todo-card-part">
                            {{ todo.title }}
                            <i class="fa fa-trash text-danger todo-card-part" aria-hidden="true" (click)="deleteTodo(todo)"></i>
                            <i class="fa fa-pencil text-info todo-card-part" aria-hidden="true" (click)="selectTodo(todo)"></i>
                        </h4>

                        <!-- details -->
                        <p class="ml-2 mt-2 todo-card-part">{{ todo.details }}</p>

                    </div>
                </div>

                <!-- update form -->
                <ng-template #showTodoUpdateForm>

                    <!-- form -->
                    <form (ngSubmit)="updateTodo()" #todoUpdateForm="ngForm" class="form todo-update-form">

                        <!-- title -->
                        <div class="form-group">
                            <label for="todoTitle"></label>
                            <input type="text" name="title" [(ngModel)]="selectedTodo.title" placeholder="title" id="todoTitle" required>
                        </div>

                        <!-- details -->
                        <div class="form-group">
                            <label for="todoTitle"></label>
                            <textarea rows="5" cols="20" name="details" [(ngModel)]="selectedTodo.details" placeholder="details" id="details"></textarea>
                        </div>

                        <!-- submit -->
                        <button type="submit" [disabled]="!todoUpdateForm.form.valid" class="btn btn-success">Update</button>

                    </form>
                </ng-template>

            </div>
        </div>
    </ng-template>

</div>