#todos {
    .card {
        margin-left: 2rem;
        width: 15rem;
    }
    .show-create-btn,
    .btn-undo {
        margin-left: 2rem;
    }
    .todo-create-form {
        margin-left: 4rem;
    }
    .todo-update-form {
        margin: 15px;
    }
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: rgba(37, 159, 234, 1);
        border-bottom-width: 1px;
        outline: none;
    }
    i {
        font-size: 1rem;
        cursor: pointer;
        position: relative;
        top: -1px;
    }
    textarea {
        border: 1px solid rgba(37, 159, 234, 1);
        outline: none;
        padding: 10px;
    }
    .todo-bag {
        display: block;
        height: 200px;
        width: 250px;
    }
}