<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>
<div style="width:15rem;height:5rem;border: 1px solid blue;display:block;margin:1rem auto;"></div>