#board-component {
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
        /* green */
    }
    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
        /* red */
    }
    button,
    li,
    h2,
    label,
    div,
    input {
        font-family: 'PT Sans Narrow', sans-serif;
    }
    .undo-button {
        margin-bottom: 20px;
    }
}