<!-- Board list -->
<div *ngIf="boards === undefined; else showBoards">
    No boards created</div>
<ng-template #showBoards>
    <ul>
        <li *ngFor="let board of boards">
            {{ board.title }} -
            <a href="#0" (click)="getBoard(board._id)">Details</a> -
            <form (ngSubmit)="deleteBoard(board._id)">
                <input type="submit" value="Delete {{board.title}}">
            </form>
        </li>
    </ul>
</ng-template>

<!-- Board details -->
<h2>Board details</h2>
<div *ngIf="selectedBoard === undefined; else showBoardDetails">No board selected</div>
<ng-template #showBoardDetails>
    {{ selectedBoard.title }}
</ng-template>

<!-- Board update form -->
<div *ngIf="selectedBoard === undefined; else showUpdateForm"></div>
<ng-template #showUpdateForm>
    <h2>Update board information</h2>
    <form (ngSubmit)="updateBoard()" #boardUpdateForm="ngForm">
        <label for="title"></label>
        <input type="text" name="title" [(ngModel)]="selectedBoard.title" required>
        <br><br>
        <button type="submit">Update</button>
    </form>
</ng-template>

<h2>Create new board</h2>
<form (ngSubmit)="createBoard()" #boardCreateForm="ngForm">
    <label for="title"></label>
    <input type="text" name="title" [(ngModel)]="newBoard.title" required>
    <br><br>
    <button type="submit">Create</button>
</form>