#board-component {
    .card {
        width: 15rem;
        margin-bottom: 50px;
    }
    h2,
    h4 {
        color: darken(rgba(37, 159, 234, 1), 10);
    }
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: rgba(37, 159, 234, 1);
        border-bottom-width: 1px;
        outline: none;
    }
    .btn-undo {
        height: 1.7rem;
        margin-top: 0.5rem;
    }
}