<div class="row" id="board-content-component">

    <div class="row col-12 mb-3">

        <!-- board - show after board is retrieved -->
        <div *ngIf="board === undefined; else showBoard"></div>
        <ng-template #showBoard>
            <h2>{{ board.title }}</h2>
        </ng-template>

        <!-- create column form -->
        <form (ngSubmit)="createColumn(); columCreateForm.reset();" #columCreateForm="ngForm" class="form-inline ml-4">

            <!-- title -->
            <div class="form-group">
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                    Title is required
                </div>
                <input type="text" name="title" [(ngModel)]="newColumn.title" #title="ngModel" placeholder="New column title" required>
            </div>

            <!-- submit -->
            <button type="submit" [disabled]="!columCreateForm.form.valid" class="btn btn-success btn-sm ml-3">Create</button>

        </form>

        <!-- undo button - show only if any deleted columns -->
        <div *ngIf="deletedColumns.length === 0; else showUndoDelete"></div>
        <ng-template #showUndoDelete>
            <button type="button" (click)="undoDeleteColumn()" class="btn btn-info  ml-3 btn-sm">Undo Delete</button>
        </ng-template>

    </div>


    <div class="row" class="col-12">



        <div class="card-columns">

            <!-- columns - show if any -->
            <div *ngIf="columns === undefined; else showColumns"></div>
            <ng-template #showColumns>
                <div class="card" *ngFor="let column of columns">

                    <!-- title -->
                    <h4 class="card-title ">{{ column.title }} <i class="fa fa-trash text-danger" aria-hidden="true" style="cursor:pointer;" (click)="deleteColumn(column)"></i></h4>

                </div>
            </ng-template>

        </div>
    </div>
</div>