#board-content-component {
    .btn-back {
        position: relative;
        top: 7px;
    }
    h2,
    h4 {
        color: darken(rgba(37, 159, 234, 1), 10);
    }
    .card-title {
        text-align: center;
        margin-top: 1rem;
        label {
            cursor: pointer;
        }
    }
    .card {
        max-width: 20rem;
        height: 35rem;
        margin-bottom: 1rem;
        overflow-y: scroll;
    }
    .card-columns {
        max-height: 40rem;
        overflow-x: scroll;
    }
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: rgba(37, 159, 234, 1);
        border-bottom-width: 1px;
        outline: none;
    }
    .btn-undo {
        height: 1.7rem;
        margin-top: 0.5rem;
    }
    i {
        cursor: pointer;
        font-size: 1rem;
        position: relative;
        top: -2px;
    }
    .column-update-form {
        margin-left: 3rem;
        margin-top: 1rem;
        input {
            font-size: 1.5rem;
            text-align: center;
            width: 13rem;
            color: darken(rgba(37, 159, 234, 1), 10);
        }
        button {
            display: block;
            margin-left: 4rem;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(37, 159, 234, 1);
    border-radius: 50px;
}