<!-- Show board info-->
<div *ngIf="board === undefined; else showBoard"></div>
<ng-template #showBoard>

    <h2>{{ board.title }}</h2>
    <p>{{ board.description }}</p>

</ng-template>

<!-- Show columns info -->
<div *ngIf="columns === undefined; else showColumns"></div>
<ng-template #showColumns>

    <div *ngFor="let column of columns">
        {{ column.title }}
    </div>

</ng-template>
<!-- create card -->
<div class="card">
    <div class="card-block">

        <!-- card title -->
        <h4 class="card-title">Create new column</h4>

        <!-- board create form -->
        <form (ngSubmit)="createColumn(); columCreateForm.reset();" #columCreateForm="ngForm" class="form">

            <!-- title -->
            <div class="form-group">
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                    Title is required
                </div>
                <input type="text" name="title" [(ngModel)]="newColumn.title" #title="ngModel" placeholder="title" required>
            </div>

            <!-- submit -->
            <button type="submit" [disabled]="!columCreateForm.form.valid" class="btn btn-success">Create</button>
        </form>
    </div>
</div>